<form action="{{action}}"
      class="dropzone img-dropzone"
      id="{{name}}"
      method="{{method}}"
      >
</form>
<script>
/*$(document).ready(function(){
	{
	Dropzone.options.{{name}} = {
  paramName: "file", // The name that will be used to transfer the file
  dictDefaultMessage:"Has click para buscar o arrastra las imagenes para agregar",
  maxFilesize: 3, // MB
  autoProcessQueue: true,
  method: "PUT",
  accept:
  },
};
}
})*/

$(document).ready(function(){Dropzone.options.{{name}} = {
    url:"#",
    dictDefaultMessage: "Arrastra o has click para buscar imagenes",
    method: "PUT",
    uploadMultiple: false,
    paramName: "file",
    maxFiles: {{maxFiles}},
    parallelUploads: 20,
    dictInvalidFileType: "Tipo de archivo invalido",
    dictFileTooBig:"El archivo es muy grande, intenta con uno más pequeño",
    autoProcessQueue: true,
    //autoQueue: false, // Make sure the files aren't queued until manually added

    clickable: true, //".fileinput-button" // Define the element that should be used as click trigger to select files.
    accept: function(file, cb) {
        //override the file name, to use the s3 signature
        //console.log(file);
        var params = {
          fileName: file.name,
          fileType: file.type,
        };

        //path to S3 signature 
        $.getJSON(`/api/firmas3?file-name=maravillarte/{{user._id}}/{{codeGenerator}}/${file.name}&file-type=${file.type}`, params).done(function(data) {
            //console.log(data);

          if (!data.signedRequest) {
            return cb('Failed to receive an upload url');
          }

          file.signedRequest = data.signedRequest;
          file.finalURL = data.downloadURL;
          cb();
        }).fail(function() {
          return cb('Failed to receive an upload url');
        });
    },
    sending: function(file, xhr) {

        console.log('sending')
        var _send = xhr.send;
        xhr.setRequestHeader('x-amz-acl', 'public-read');
        xhr.send = function() {
            _send.call(xhr, file);
        }

    },
    processing:function(file){

        this.options.url = file.signedRequest;

    },
    init: function(){
      this.on("success",function (file,res){
      console.log("SUCESS")
      var url=removeUrlParams(file.signedRequest)
      $("{{form}}").append('<input name="{{appendName}}" value="'+url+'">')
    })
    } 
};})

{{>scripts/urlRemoveParameters}}
</script>
