<div class="file-field input-field {{class2}}">
  <div class="btn {{class}}">
    <span>{{label}}</span>
    <input type="file"  name="{{name}}" id="{{name}}">
  </div>
  <div class="file-path-wrapper">
    <input class="file-path validate" type="text">
  </div>
</div>