<input 
class="with-gap {{class}}{{c}}"
name="{{name}}{{n}}" 
type="radio" 
id="{{id}}" 
value="{{value}}{{v}}" 
{{#if required}}required{{/if}}
{{#if r}}required{{/if}}/>
<label for="{{id}}">
{{{label}}} {{l}}
</label>